{{>header}}

        <div id="container">
            <div id="map" class="map"></div>
            <div id="error" class="error"></div>

            <div id="popup" class="ol-popup">
              <a id="popup-closer" class="ol-popup-closer"></a>
              <div id="popup-content"></div>
            </div>
          </div>
        </div>

{{>footer}}
