{{>header}}

        <div id="container">
            <div id="map" class="map"></div>
            <div id="error" class="error"></div>

            <div id="popup" class="ol-popup">
              <a id="popup-closer" class="ol-popup-closer"></a>
              <div id="popup-content"></div>
            </div>

            <div id="search" class="search">
                <h2 onclick="$('#searchContent').slideToggle('slow')">Search</h2>
                <div id="searchContent" class="searchContent">
                    <p>Type:
                        <select id="type">
                            <option value=""></option>
                            <option value="checkIn">Check In</option>
                            <option value="contact">Contact</option>
                            <option value="caught">Caught</option>
                        </select>
                    </p>
                    <p>Patrol: <input class="input" id="patrol" type="number"></p>
                    <p>Charter: <input class="input" id="charter" type="number"></p>
                    <p>Gang: <input class="input" id="gang" type="string"></p>
                    <p>Bandit: <input class="input" id="bandit" type="number"></p>
                    <p>Team: <input class="input" id="team" type="number"></p>
                    <p>Checkpoint: <input class="input" id="checkPoint" type="string"></p>

                    <p>From: <input class="input" id="from" type="datetime-local"></p>
                    <p>To: <input class="input" id="to" type="datetime-local"></p>

                    <p><input id="adjustSearch" type="button" value="Search"><input id="clearSearch" type="button" value="Clear search"></p>
                </div>
            </div>

            <div id="results" class="results">
                <div id="time"></div>
                <h2 onclick="$('#resultsContent').slideToggle('slow')">Results</h2>
                <div id="resultsContent" class="resultsContent">
            </div>
          </div>
        </div>

{{>footer}}
